@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/adminlayout/adminlayout.cshtml";
}

<section class="section bg-gray">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-12">
                <h2>Hello ! Your are Logged In !@ViewBag.UserName</h2>

            </div>
        </div>
    </div>
</section>