@{
    ViewData["Title"] = "Registration-Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="section bg-gray">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="display-3">Go and Check your Email <small> Check spam also if not seeing </small> </h3>

            </div>
        </div>
    </div>
</section>