@{
    ViewData["Title"] = "Token Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section bg-gray">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-12">
                <h2>Your Token Has Been Generated Please Close the Screen and go to login Page</h2>

            </div>
        </div>
</div>
</section>